{% extends 'base.html' %}

{% block title %}
Add Stock
{% endblock %}

{% block content %}
    <br>
    <h2>Portfolio</h2>
    <hr>
    <form method="POST" action="{% url 'add_stock' %}" class="form-inline my-2 my-lg-0">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="add" placeholder="Stock Ticker or Name" aria-label="Add" name="ticker">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add Stock</button>
    </form>
    <br>
    {% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">  <!-- singular -->
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    {% endblock %}
    
    {% if stocks %}
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Symbol</th>
                <th scope="col">Company</th>
                <th scope="col">Price</th>
                <th scope="col">Change</th>
                <th scope="col">Market Cap</th>
                <th scope="col">Return YTD</th>
                <th scope="col">Delete Stock</th>
              </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{stock.id}}</td>
                    <td>{{stock.ticker}}</td>
                    <td>xx</td>
                    <td>xx</td>
                    <td>xx</td>
                    <td>xx</td>
                    <td>xx</td>
                    <td><a href="{% url 'delete_stock' stock.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>

    {% endif%}
{% endblock %}

